@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body,
html {
  height: 100%;
  margin: 0;
}

ul,
ol {
  margin-left: 20px;
  list-style-position: inside;
}

ul li,
ol li {
  margin-bottom: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
